@CHARSET "UTF-8";

body {
    color: #636363fa;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

#header {
    width: 100%;
    height: 100px;
    background-color: #9bd470;
}

#content {
    width: 80%;
    margin-top: 15px;
    padding-left: 3%;
}

h1 {
    font-size: 24px;
    display: inline;
}

h2 {
    font-size: 50px;
    margin-bottom: 15px;
}

h2#pets_list {
    text-align: center;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

p#admin {
    color: red;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a#pages {
    color: #84d6b8;
}

a#destroy {
    color: #84d6b8;
}

a#all_pages {
    color: #616161;
}

a#all_users {
    color: #616161;
}

a#logout {
    color: #616161;
}

a#index {
    color: #616161;
}

a#show_pet {
    color: #616161;
}

a#show_contact {
    color: #616161;
}

a#all_pets {
    color: #616161;
}

a#top_page {
    color: #616161;
}

a#profile_edit {
    color: #84d6b8;
}

a#update {
    color: #84d6b8;
}

a#new_user {
    color: #84d6b8;
}

a#new_pet {
    color: #84d6b8;
}

a#details {
    color: #84d6b8;
}

a#hello {
    font-weight: bold;
    padding-left: 3%;
}

table, tr, th, td {
    border: 1px solid #d4d0d0fa;
}

table {
    width: 100%;
    min-width:50px;
    max-width:2000px;
    table-layout: fixed;
}

th {
    width: 26%;
    padding: 10px 2%;
}

td {
    width: 80%;
    padding: 10px 2%;
    font-weight: bold;
}


button {
    font-size: 14px;
    padding: 5px 10px;
}

#footer {
    text-align: center;
}

#flush_success {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #155724;
    background-color: #d4edda;
}

#flush_error {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #721c24;
    background-color: #f8d7da;
}

table#user_list th {
    width: 30%;
    padding: 10px 2%;
}

table#user_list td {
    width: 29%;
    padding: 10px 2%;
}

tbody.row1 {
    background-color: #ffffff;
}

tbody.row0 {
    background-color: #f2f2f2;
}

select {
    height: 30px;
}

#header_menu {
    width: 57%;
    padding-top: 40px;
    padding-left: 3%;
    display: inline-block;
    white-space: nowrap;
}


#user_name {
    color: #ffffff;
    width: 80%;
    padding-right: 3%;
    text-align: right;
    display: inline-block;
}

#header a {
    color: ffffff;
}

table#pet_list th {
    padding: 10px 2%;
}

table#pet_list .pet_name {
    width: 20%;
    padding: 10px 2%;
}

table#pet_list .pet_date {
    width: 20%;
}

table#pet_list .pet_title {
    width: 37%;
}

table#pet_list .pet_action {
    width: 13%;
}

pre {
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

h3 {
    font-size: larger;
}

div#image {
    text-align: center;
}

div#image .pets {
    width: 70%;
    max-width: 300px;
}

table#pet_list .bottom {

}

img {
    max-width: 300px;
}

table#contact_list th {
    font-weight: bold;
    padding: 10px 2%;
}

table#contact_list .contact_name {
    width: 20%;
    padding: 10px 2%;
}
table#contact_list .contact_id {
    width: 20%;
}

table#contact_list .contact_created {
    width: 37%;
}

table#contact_list .contact_action {
    width: 13%;
}
